* {
    margin: 0;
    padding: 0;
    color-scheme: light dark;
    color: rgb(226 232 240);
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #242424; */
    font-synthesis: none;
    /* text-rendering: optimizeLegibility; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color: #f1c69a;
    border: #0e0d0c 1px solid;
    /* line-height: 1.6; */
}


.w-section {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/img/dogsWellcome.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.w-dog {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 50px;
    line-height: 2.25rem;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;

    @media (min-width: 1024px) {}
}

.w-sub {
    font-size: 30px;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.w-button {
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: #77420d 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
}

.home-sec {

    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
}

.home-div1 {
    text-align: center;
}

.home-title {
    display: flex;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
}


@media (min-width: 1024px) {
    .home-title {
        font-size: 3rem;
        line-height: 1;
    }
}


.home-p {
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.home-a {
    color: #4F46E5;
    text-decoration: underline;
}

.home-a:hover {
    color: #dcdce6;
}

.home-div2 {
    display: grid;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
}

@media (min-width: 768px) {
    .home-div2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}

@media (min-width: 1280px) {
    .home-div2 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

}


.home-link {
    padding: 1rem;
    transition-property: all;
    transition-duration: 200ms;
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(51 65 85);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.home-link:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(71 85 105);
}

.home-img {
    object-fit: cover;
    width: 100%;
    border-radius: 0.25rem;
}

@media (min-width: 768px) {
    .home-img {
        height: 18rem;
    }

}


.home-dogname {
    margin-top: 1rem;
    color: #ffffff;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    text-decoration: none;
}

.home-breed {
    --tw-text-opacity: 1;
    color: rgb(148 163 184);
}

.single-section {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    max-width: 64rem;
    height: 100vh;
}

.single-dogcard {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
}

@media (min-width: 768px) {
    .single-dogcard {
        place-items: center;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.single-dogname {
    margin-bottom: 2rem;
    color: #ffffff;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

@media (min-width: 1024px) {
    .single-dogname {
        font-size: 3rem;
        line-height: 1;
    }
}

.single-infolist {
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 2;
}

@media (min-width: 1024px) {
    .single-infolist {
        font-size: 1rem;
        line-height: 1.5rem;
        line-height: 1.625;
    }
}

.single-doginfo {
    font-weight: 700;
    color: rgb(226 232 240);
}

.single-dogpresent {
    color: #ffffff;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.single-link {
    background-color: rgb(71 85 105);
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 2rem;
    transition-property: all;
    transition-duration: 200ms;
    color: #ffffff;
    border-radius: 0.25rem;
}

.single-link:hover {
    background-color: rgb(100 116 139);
}